.header {
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
}

.header.light-mode {
  border-bottom-color: #cacaca;
}

.header.dark-mode {
  border-bottom-color: #292929;
}

.header img {
  border-radius: 50px;
}
/*  */
/* .sky { */
/*   background-image: url('/sky.svg'); */
/*   height: 300px; */
/*   position: absolute; */
/*   top: 0; */
/*   transition-duration: 250ms; */
/*   width: 100%; */
/* } */

.group {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.nav {
  margin: 10px 10px 10px 0;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  width: 1040px;
}

.nav li {
  border-radius: 3px;
  margin: 0 5px;
  padding: 0 10px;
}

.header.light-mode .nav a:hover {
  color: #018386;
}

/*  */
/* .header.light-mode .sky { */
/*   background-position: center bottom; */
/*   transform: rotate(180deg); */
/* } */
/*  */
/* .header.dark-mode .sky { */
/*   background-position: center top; */
/*   transform: rotate(360deg); */
/* } */

.contents {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  width: 1040px;
  z-index: 1;
}

.me {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  padding-bottom: 60px;
}

.me .name {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
}

.me .blurb {
  font-size: 22px;
  font-weight: 300;
}

@media (max-width: 1270px) {
  .header {
    height: 280px;
    padding: 0 50px;
    width: auto;
  }

  .header .contents {
    width: 100%;
  }

  .me .name {
    font-size: 30px;
  }

  .me .blurb {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .header {
    height: auto;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .header img {
    display: none;
  }

  .me .blurb {
    display: none;
  }

  .me {
    align-items: flex-start;
    padding-bottom: 0;
  }

  .me .name {
    font-size: 32px;
  }

/*  */
/*   .sky { */
/*     background-size: 1100px; */
/*     top: 20px; */
/*   } */
}
