.header {
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: flex;
  flex-direction: column;
  height: 182px;
  justify-content: center;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}

.header.light-mode {
  border-bottom-color: #cacaca;
}

.header.dark-mode {
  border-bottom-color: #292929;
}

.header img {
  border-radius: 40px;
  margin-right: 10px;
}

.sky {
  background-image: url('/sky.svg');
  height: 300px;
  position: absolute;
  top: 0;
  transition-duration: 250ms;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  width: 800px;
}

.nav li {
  border-radius: 3px;
  margin: 0 5px;
  padding: 0 10px;
}

.nav.dark-mode a,
.nav.light-mode a {
  color: #ffffff;
  font-weight: bold;
}

.nav.dark-mode a:hover,
.nav.light-mode a:hover {
  color: #ffffff;
}

.nav.dark-mode li {
  background: #2de2e6;
}

.nav.dark-mode li:hover {
  background: #ff3864;
}

.nav.light-mode li {
  background: #ff3864;
}

.nav.light-mode li:hover {
  background: #2de2e6;
}

.header.light-mode .sky {
  background-position: center bottom;
  transform: rotate(180deg);
}

.header.dark-mode .sky {
  background-position: center top;
  transform: rotate(360deg);
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 800px;
  z-index: 1;
}

.me {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  z-index: 1;
}

@media (max-width: 1170px) {
  .header {
    height: 130px;
  }

  .nav ul,
  .contents {
    width: 100%;
  }

  .nav {
    padding-right: 50px;
  }
}

@media (max-width: 800px) {
  .header {
    height: 100px;
    margin-bottom: 20px;
  }

  .me {
    text-align: left;
    margin-left: 20px;
  }

  .sky {
    background-size: 1100px;
    top: 20px;
  }

  .nav {
    padding-right: 20px;
  }
}
