.header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.header img {
  border-radius: 65px;
  margin-right: 10px;
}

.contents {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 800px;
}

.me {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
