.themeToggle {
  border: none;
  border-radius: 30px;
  height: 35px;
  padding: 0 3px;
  width: 35px;
  z-index: 1;
}

.themeToggle:hover {
  cursor: pointer;
}

.themeToggle.dark-mode {
  background: #333333;
}

.themeToggle.dark-mode:hover {
  background: #2de2e6;
}

.themeToggle.dark-mode svg {
  fill: #ffffff;
}

.themeToggle.light-mode {
  background: #ececec;
}

.themeToggle.light-mode:hover {
  background: #ff3864
}

.themeToggle.light-mode:hover svg {
  fill: #ffffff;
}

@media (max-width: 1270px) {
}

@media (max-width: 800px) {
  .themeToggle {
    height: 30px;
    position: absolute;
    right: 15px;
    top: -45px;
    width: 30px;
  }

  .themeToggle svg {
    height: 25px;
    width: 25px;
  }
}
