.tweetcta:hover {
  color: #2de2e6;
}

.tweetcta:hover {
  cursor: pointer;
}

.tweetcta h3 {
  font-weight: bold;
}

.tweetcta span {
  color: #2de2e6;
}

@media (max-width: 1170px) {
}

@media (max-width: 800px) {
  .tweetcta h3 {
    text-align: center;
  }
}
