.tweetcta {
  text-align: center;
}

.tweetcta h3 {
  font-weight: bold;
}

.tweetcta span {
  color: #1D9BF0;
  border-bottom: 1px solid;
}

.tweetcta span:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .tweetcta h3 {
    font-size: 18px;
    text-align: center;
  }
}
