.blogPost h3 {
  margin-bottom: 10px;
}

.blogPost img {
  display: block;
  margin: 20px 0;
  width: 100%;
}

.blogPost.dark-mode .readingTime {
  color: #adadad;
}

.blogPost.light-mode .readingTime {
  color: #757575;
}

.blogPost.dark-mode .date {
  color: #ffffff;
}

.blogPost.light-mode .date {
  color: #353535;
}

.blogPost ol,
.blogPost ul {
  padding-left: 20px;
}

.blogPost ul {
  list-style-type: initial;
}

.blogPost ol {
  list-style-type: decimal;
}
