.heart {
  align-items: center;
  display: inline-flex;
  height: 15px;
  justify-content: center;
  margin: 0 7px 0 10px;
  position: relative;
  user-select: none;
  width: 15px;
}

.heart svg {
  position: absolute;
  width: 15px;
}

.heart svg:hover:not(.complete) {
  cursor: pointer;
}

.heart svg:active:not(.complete) {
  width: 13px;
}

.heart svg.incomplete {
  fill: #505050;
}

.heart svg.complete {
  width: 20px;
}

.heart .fillup {
  height: 8px;
  fill: #d31717;
  transition:height 0.5s;
}
