.footer {
  border-top-width: 1px;
  border-top-style: solid;
  display: flex;
  justify-content: center;
  margin: 50px 0;
  padding-top: 20px;
}

.footer.light-mode {
  border-top-color: #cacaca;
}

.footer.dark-mode {
  border-top-color: #292929;
}

.footer a {
  margin: 0 5px;
}

.footer.light-mode svg {
  fill: #000000;
}

.footer.light-mode svg:hover {
  fill: #2de2e6;
}

.footer.dark-mode svg {
  fill: #ffffff;
}

.footer.dark-mode svg:hover {
  fill: #ff3864;
}

.contents {
  display: flex;
  width: 1040px;
  z-index: 1;
}

.copyright {
  flex-grow: 1;
}

@media (max-width: 1270px) {
  .contents {
    margin: 0 50px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .contents {
    justify-content: left;
    margin: 0 20px;
  }
}
