.home section {
  display: flex;
  margin: 50px 0;
}

.home svg {
  flex-shrink: 0;
  height: 100px;
  margin-right: 20px;
  width: 100px;
}

.home p {
  margin:  10px 0;
}

.home li {
  margin: 10px 0;
}

.hotTakes {
  list-style-type: initial;
  padding-left: 20px;
}

.postList {

}

.divider {
  text-align: center;
  margin-top: 50px;
}
