.main {
  margin: 0 auto;
  width: 800px;
}

.main p {
  line-height: 28px;
  font-size: 20px;
}

.list {
  list-style-type: none;
}

.list li {
  display: inline-block;
  height: 200px;
  width: 50%;
}

.list li:hover {
  background-color: pink;
}

.list a {
  display: block;
  height: 100%;
  width: 100%;
}

@media (max-width: 1170px) {
  .main {
    padding: 0 50px;
    width: auto;
  }
}

@media (max-width: 800px) {
  .main {
    padding: 0 20px;
  }
}
