body {
  font-family: Larsseit, sans-serif;
  transition-property: background-color;
  transition-duration: 250ms;
  -webkit-font-smoothing: antialiased;
}

/* Dark Mode */
.dark-mode {
  background-color: #151515;
  color: #ffffff;
}

.dark-mode a {
  color: #2de2e6;
}

.dark-mode a:hover {
  color: #ff3864;
}

/* Light Mode */
.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.light-mode a {
  color: #ff3864;
}

.light-mode a:hover {
  color: #2de2e6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 300;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 1170px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 17px;
  }
}
