body {
  font-family: Larsseit, sans-serif;
  transition-property: background-color;
  transition-duration: 250ms;
  -webkit-font-smoothing: antialiased;
}

/* Dark Mode */
.dark-mode {
  background-color: #151515;
  color: #ffffff;
}

.dark-mode blockquote {
  background: #272727;
  border-left: 5px solid #2de2e6;
}

.dark-mode pre {
  background-color: #ffffff;
  color: #151515;
}

.dark-mode p code {
  background: #232323;
}

.dark-mode a {
  color: #2de2e6;
}

.dark-mode a:hover {
  color: #ff3864;
}

/* Light Mode */
.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.light-mode blockquote {
  background: #f5f5f5;
  border-left: 5px solid #ff3864;
}

.light-mode pre {
  background-color: #151515;
  color: #ffffff;
}

.light-mode p code {
  background: #efefef;
}

.light-mode a {
  color: #ff3864;
}

.light-mode a:hover {
  color: #2de2e6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 300;
}

h3 {
  font-weight: lighter;
}

h4 {
  font-size: 24px;
  margin-top: 60px;
}

ol,
ul {
  font-size: 18px;
  line-height: 28px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

blockquote {
  font-style: italic;
  margin: 0;
  padding: 10px 20px;
}

blockquote p {
  margin: 0;
}

p code {
  padding: 0 5px 3px;
}

pre {
  border-radius: 5px;
  font-size: 14px;
  overflow: auto;
  padding: 10px;
}

main {
  margin: 0 auto;
  width: 800px;
}

main p {
  line-height: 28px;
  font-size: 18px;
}

@media (max-width: 1170px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }

  main {
    padding: 0 50px;
    width: auto;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 17px;
  }

  ol,
  ul {
    font-size: 16px;
    line-height: 26px;
  }

  main {
    padding: 0 20px;
  }

  main p {
    line-height: 26px;
    font-size: 16px;
  }
}
