.controls {
  position: absolute;
  top: -20px;
  right: 0;
}

.controls ul {
  display: flex;
  justify-content: flex-end;
  width: 800px;
}

.controls li {
  border-radius: 30px;
  height: 35px;
  margin: 5px;
  width: 35px;
}

.controls li:hover {
  cursor: pointer;
}

.controls a {
  align-items: center;
  display: flex;
  justify-content: center;
}

.controls.dark-mode li {
  background: #333333;
}

.controls.dark-mode li:hover {
  background: #2de2e6;
}

.controls.dark-mode svg {
  fill: #ffffff;
}

.controls.light-mode li {
  background: #ececec;
}

.controls.light-mode li:hover {
  background: #ff3864
}

.controls.light-mode li:hover svg {
  fill: #ffffff;
}

@media (max-width: 1270px) {
  .contents {
    width: 100%;
  }

  .controls {
    right: 50px;
  }

  .controls a svg {
    width: 20px;
  }
}

@media (max-width: 800px) {
  .controls {
    right: 10px;
    top: -30px;
  }

  .controls button {
    height: 30px;
    width: 30px;
  }

  .controls a,
  .controls li {
    height: 30px;
    width: 30px;
  }

  .controls a svg {
    width: 16px;
  }

  .controls button svg {
    height: 22px;
    width: 22px;
  }
}
