.subheader {
  align-self: center;
  font-family: AsapItalic;
  font-size: 26px;
  margin-bottom: 100px;
  text-align: center;
}

.albumList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;

  @media (max-width: 800px) {
    justify-content: space-between;
  }
}

.albumListItem {
  margin-right: 10px;
  margin-bottom: 30px;
}

.yearHeading {
  font-size: 30px;
  margin: 0 0 15px;
}

@media (max-width: 1050px) {
  .subheader {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .albumListItem {
    /* margin-right: 0; */
    width: 48%;
  }
}
